.container {
	display: grid;
	/* display: inline-grid; */
	    font-size: 1em;

}

.container {

	grid-template-columns: repeat(auto-fill, minmax(15%, auto));

	grid-template-rows:100px 200px 150px 50px 200px 150px;

	gap: 100px;
}
.item {
        /*background-color: orange;*/
    }

.item:nth-child(5) { /* 일기작성 */
	/* 1번 라인에서 2칸 */
	grid-column: 1 / span 2;
	/* 2번 라인에서 3칸 */
	grid-row: 2 / span 3;
}
.item:nth-child(6) { /* 맞춤추천 */
	grid-column: 3 / span 2;
	grid-row: 2 / span 1;
}
.item:nth-child(7) { /* 기분전환 */
	grid-column: 3 / span 2;
	grid-row: 3 / span 1;
}
.item:nth-child(8) { /* 감정그래프 */
	/* 1번 라인에서 2칸 */
	grid-column: 1 / span 3;
	/* 1번 라인에서 3칸 */
	grid-row: 5 / span 2;
}

.form-group{
color: #000;
border-radius: 10px;
    border: solid 4px;
    margin:1px;
}

textarea{
width: 100%;
height: 200px;
font-size: 16px;
color: #000;
resize: none;
}

.box{

    border-radius: 10px;
    border: solid 5px gray;
    background-color:white;
}

a{
cursor:pointer;

}

.box2{
    border-radius: 10px;
    border: solid 5px;
    background-color:orange;
}