<!DOCTYPE HTML>

{% extends 'testbase.html' %}
{% load diary_filter %}
{% load static %}
<head>
      <!--	<link rel="stylesheet" href="{% static 'css/main.css' %}" />-->

</head>

{% block content %}
<!-- --------------------------------------------------------------------------------------------------- -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
<style>
      h1 {
        font-family: 'Nanum Brush Script', cursive;
      }

#video {
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1;
}
#con {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}
#header.alt {
background-color: transparent;
}
</style>
<!-- --------------------------------------------------------------------------------------------------- -->
<!-- Banner -->
<div class="con">
      <video id="video" preload="auto" autoplay="true"  muted="muted" volume="0">
            <source src="{% static 'css/mainvideo.mp4' %}" type="video/mp4">

      </video>

</div>

<!--<section id="banner">-->
<!--	<div class="inner">-->
<!--		<header>-->
<!--			<h1>너의 송마음을 들려줘</h1>-->
<!--			<p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;<br />-->
<!--			</p>-->
<!--		</header>-->
<!--		&lt;!&ndash;		<a href="#main" class="button big scrolly">Learn More</a>&ndash;&gt;-->
<!--	</div>-->
<!--</section>-->

{% endblock %}