<!DOCTYPE html>
{% extends 'testbase.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/writecss.css' %}" />
<form method="post" class="post-form my-3">
	<div class="container">
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item">
			{% csrf_token %}
			<!-- 오류표시 Start -->
			{% if form.errors %}
			<div class="alert alert-danger" role="alert">
				{% for field in form %}
				{% if field.errors %}
				<strong>{{ field.label }}</strong>
				{{ field.errors }}
				{% endif %}
				{% endfor %}
			</div>
			{% endif %}
			<!-- 오류표시 End -->
			<div class="form-group">
				<input type="text" class="form-control" name="subject" id="subject"
					   value="{{ form.subject.value|default_if_none:'' }}" placeholder="제목을 입력하세요">
			</div>
			<div class="form-group">
            <textarea class="form-control" name="content"
					  id="content" placeholder="내용을 입력하세요" rows="10" >{{ form.content.value|default_if_none:'' }}</textarea>
			</div>
			<button type="submit" class="button alt" style="float:right; margin-top:20px">노래추천받기</button>
<!--			<button type="submit" class="button special" style="float:right; margin-right:25px; margin-top:20px">영화</button>-->
			<div class="item" style="margin-top:50px">
				{% for jsfile_name in script_list %}
				<script src="{{host}}/{{jsfile_name}}.js"></script>
				{% endfor %}
				{{ data|safe }}
			</div>
		</div>
		<div class="item">맞춤추천
			<div class="box">
				<ol>
					{% for song in singlist %}
					<li>{{song}}</li>
					{% endfor %}
				</ol>
			</div>
		</div>
		<div class="item">기분전환
			<div class="box">
				<ol>
					<li>1번노래</li>
					<li>2번노래</li>
					<li>3번노래</li>
				</ol>
			</div>
		</div>
	</div>
</form>

{% endblock %}