<!DOCTYPE html>
{% extends 'testbase.html' %}
{% block content %}
{% load static %}

<div class="container my-3" style="padding:100px">
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ question.create_date }}
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="data:image/png;base64,{{ data }}" alt="" >
    </div>

    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.moodres }}</div>
        </div>
    </div>
    <a href="#" class="delete button alt"
       data-uri="{% url 'mydiary:diary_delete' question.id  %}">삭제</a>
</div>

{% endblock %}
<!-- ------------------------------- [edit] -------------------------------- -->
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}