<!DOCTYPE html>
{% extends 'testbase.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/writecss.css' %}" />
<form method="post" class="post-form my-3">
	<div class="container">
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item">
			{% csrf_token %}
			<!-- 오류표시 Start -->
			{% if form.errors %}
			<div class="alert alert-danger" role="alert">
				{% for field in form %}
				{% if field.errors %}
				<strong>{{ field.label }}</strong>
				{{ field.errors }}
				{% endif %}
				{% endfor %}
			</div>
			{% endif %}
			<!-- 오류표시 End -->
			<div class="form-group">
				<input type="text" class="form-control" name="subject" id="subject"
					   value="{{ form.subject.value|default_if_none:'' }}" placeholder="제목을 입력하세요">
			</div>
			<div class="form-group">
            <textarea class="form-control" name="content"
					  id="content" placeholder="내용을 입력하세요" rows="10" >{{ form.content.value|default_if_none:'' }}</textarea>

			</div>
			<button type="submit" class="button alt" style="float:right; margin-top:20px">저장하기</button>
			<!--			<button type="submit" class="button special" style="float:right; margin-right:25px; margin-top:20px">영화</button>-->
			<div class="item" style="margin-top:100px">
				{% for jsfile_name in script_list %}
				<script src="{{host}}/{{jsfile_name}}.js"></script>
				{% endfor %}
				{{ data|safe }}
			</div>
		</div>
		<div class="item">
			<div class="box">
				{% for song in singlist2 %}
				<li><a href="https://www.youtube.com/results?search_query={{song}}" target="_blank">{{song}}</a></li>
				{% endfor %}
			</div>
		</div>

		<div class="item">
			<a style="font-size: 30px;">기분전환삼아서<br>이런 노래들은 어때??</a>
			<div class="box" style="display:none;">
				{% for song in singlist %}
				<li><a href="https://www.youtube.com/results?search_query={{song}}" target="_blank">{{song}}</a></li>
				{% endfor %}
			</div>
		</div>
	</div>
</form>



{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $(".item>a").click(function(){
            $(this).next("div").slideToggle("box");
        });
    });
</script>
{% endblock %}