<!DOCTYPE html>
{% extends 'testbase.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/writecss.css' %}" />
<form method="post" class="post-form my-3">
	<div class="container">
		<div class="item">
			{% csrf_token %}
			<!-- 오류표시 Start -->
			{% if form.errors %}
			<div class="alert alert-danger" role="alert">
				{% for field in form %}
				{% if field.errors %}
				<strong>{{ field.label }}</strong>
				{{ field.errors }}
				{% endif %}
				{% endfor %}
			</div>
			{% endif %}
			<!-- 오류표시 End -->
			<div class="form-group" style="margin-top:-65px;">
				<input type="text" class="form-control" name="subject" id="subject"
					   value="{{ form.subject.value|default_if_none:'' }}" placeholder="영화제목을 입력하세요">
			</div>
			<div class="form-group" style="margin-top:100px;">
            <textarea class="form-control" name="content"
					  id="content" placeholder="내용을 입력하세요" rows="10" >{{ form.content.value|default_if_none:'' }}</textarea>

			</div>
			<button type="submit" class="button alt" style="float:right; margin-top:20px">저장하기</button>
			<!--			<button type="submit" class="button special" style="float:right; margin-right:25px; margin-top:20px">영화</button>-->
			<div class="item" style="margin-top:100px">
			</div>
		</div>
		<div class="item">
			<div class="box">
				{% for movie in movlist %}
				<li>{{movie}}</li>
				{% endfor %}
			</div>
		</div>


	</div>
</form>



{% endblock %}
